<!DOCTYPE html>
<html ng-app="komado">
	<head>
		<base href="/">
		<title>Komado</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="/css/fa.css" type="text/css">
		<link rel="stylesheet" href="/css/style.css" type="text/css">
	</head>
	<body>
		<div ng-view></div>
		<script src="https://www.youtube.com/iframe_api"></script>
		<script type="text/javascript" src="/js/lib.js"></script>
		<script type="text/javascript" src="/js/script.js"></script>
	</body>
</html>