<!DOCTYPE html>
<html ng-app="komado">
	<head>
		<base href="/">
		<title>Komado</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="/css/style.css" type="text/css">
	</head>
	<body ng-controller="RouteController">
		<div ng-view></div>
		<script src="/js/bower_components/angular/angular.min.js" type="text/javascript"></script>
		<script src="/js/bower_components/angular-animate/angular-animate.min.js" type="text/javascript"></script>
		<script src="/js/bower_components/angular-route/angular-route.min.js" type="text/javascript"></script>
		<script src="/js/bower_components/angular-sanitize/angular-sanitize.min.js" type="text/javascript"></script>
		<script src="/js/bower_components/lodash/lodash.min.js" type="text/javascript"></script>
		<script src="/js/module/app.js" type="text/javascript"></script>
		<script src="/js/controllers/RouteController.js" type="text/javascript"></script>
		<script src="/js/controllers/IndexController.js" type="text/javascript"></script>
		<script src="/js/controllers/PlayerController.js" type="text/javascript"></script>
		<script src="/js/controllers/VideoController.js" type="text/javascript"></script>
		<script src="/js/factories/Api.js" type="text/javascript"></script>
		<script src="/js/factories/Message.js" type="text/javascript"></script>
		<script src="/js/factories/Video.js" type="text/javascript"></script>
	</body>
</html>