html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2c5999;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #2c5999; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html, body {
  padding: 0;
  margin: 0; }

body {
  color: #333;
  font-size: 13px;
  line-height: 140%; }

input:focus,
button:focus {
  outline: 0; }

a, button {
  cursor: pointer; }

.text-center {
  text-align: center; }

.padding-top5 {
  padding-top: 5px; }

.padding-top10 {
  padding-top: 10px; }

.padding-top15 {
  padding-top: 15px; }

.padding-top20 {
  padding-top: 20px; }

.padding-bottom5 {
  padding-bottom: 5px; }

.padding-bottom10 {
  padding-bottom: 10px; }

.padding-bottom15 {
  padding-bottom: 15px; }

.padding-bottom20 {
  padding-bottom: 20px; }

.margin-top5 {
  margin-top: 5px; }

.margin-top10 {
  margin-top: 10px; }

.margin-top15 {
  margin-top: 15px; }

.margin-top20 {
  margin-top: 20px; }

.margin-bottom5 {
  margin-bottom: 5px; }

.margin-bottom10 {
  margin-bottom: 10px; }

.margin-bottom15 {
  margin-bottom: 15px; }

.margin-bottom20 {
  margin-bottom: 20px; }

.margin-bottom30 {
  margin-bottom: 30px; }

.margin-bottom40 {
  margin-bottom: 40px; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 37px;
  overflow: hidden;
  background: #222;
  z-index: 1000;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .header::after {
    clear: both;
    content: "";
    display: table; }
  .header a {
    color: #fff; }
    .header a:hover {
      color: #ddd; }
  .header .left-contents {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .header .left-contents:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      .header .left-contents {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 46.28851%; }
        .header .left-contents:last-child {
          margin-right: 0; } }
  .header .right-contents {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .header .right-contents:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      .header .right-contents {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 46.28851%; }
        .header .right-contents:last-child {
          margin-right: 0; } }
  .header .user {
    text-align: right;
    padding: 9px 8px 0 0; }

.main.page-index,
.main.page-user {
  padding-top: 50px;
  margin: 0 auto; }

.main.page-user {
  max-width: 700px; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 5px; }

i.fa {
  padding-right: 7px; }

i.fa.right {
  padding-left: 7px;
  padding-right: 0; }

.btn {
  display: inline-block; }
  .btn a, .btn button {
    display: block;
    font-weight: normal;
    border-radius: 4px; }

.btn.primary a, .btn.primary button {
  background: #477dca;
  color: #fff; }
  .btn.primary a:hover, .btn.primary button:hover {
    background: #679dea;
    color: #fff; }

.btn.default a, .btn.default button {
  background: #aaa;
  color: #fff; }
  .btn.default a:hover, .btn.default button:hover {
    background: #b5b5b5;
    color: #fff; }

.btn.large a, .btn.large button {
  font-size: 14px;
  line-height: 140%;
  padding: 15px 30px; }

.header .logo {
  font-family: 'AppleSDGothicNeo-Thin', sans-serif;
  font-weight: bold;
  padding: 9px 0 0 8px; }

.main .logo {
  text-align: center;
  font-size: 52px;
  line-height: 100%;
  font-weight: normal;
  font-family: 'AppleSDGothicNeo-Thin', sans-serif;
  padding: 30px 0 0;
  margin: 0; }
.main .logo-jp {
  text-align: center;
  font-size: 22px;
  line-height: 140%;
  font-weight: normal;
  font-family: 'AppleSDGothicNeo-Thin', sans-serif;
  padding: 0 0 35px;
  margin: 0; }
.main .logo-description {
  text-align: center;
  font-size: 26px;
  line-height: 140%;
  font-weight: normal;
  font-family: 'AppleSDGothicNeo-Thin', sans-serif;
  padding: 0 0 30px;
  margin: 0; }

.yt-player {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }

.yt-player.yt-player-16by9 {
  padding-bottom: 56.25%; }

.yt-player-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.player-opener-menu {
  text-align: center;
  padding-bottom: 10px; }

.user-entrance {
  max-width: 350px;
  margin: 0 auto 50px; }
  .user-entrance label.id {
    position: relative; }
  .user-entrance .form.ng-invalid button {
    opacity: .4; }
  .user-entrance .icon {
    position: absolute;
    top: 5px;
    right: 0; }
  .user-entrance .icon.valid {
    color: #4AC198; }
  .user-entrance .icon.invalid {
    color: #f66; }
  .user-entrance .ng-messages {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    position: absolute;
    top: -45px;
    left: 0; }
    .user-entrance .ng-messages div {
      position: relative;
      background: #fff;
      font-weight: normal;
      border-radius: 4px;
      padding: 5px; }
      .user-entrance .ng-messages div:after, .user-entrance .ng-messages div:before {
        position: absolute;
        top: 100%;
        left: 20%;
        content: " ";
        height: 0;
        width: 0;
        pointer-events: none;
        border: solid transparent; }
      .user-entrance .ng-messages div:after {
        border-color: transparent;
        margin-left: -8px; }
      .user-entrance .ng-messages div:before {
        border-color: transparent;
        margin-left: -11px; }
    .user-entrance .ng-messages .warning {
      color: #477dca;
      border: 2px #477dca solid; }
      .user-entrance .ng-messages .warning:after {
        border-top-color: #fff;
        border-width: 8px; }
      .user-entrance .ng-messages .warning:before {
        border-top-color: #477dca;
        border-width: 11px; }
    .user-entrance .ng-messages .danger {
      color: #f66;
      border: 2px #f66 solid; }
      .user-entrance .ng-messages .danger:after {
        border-top-color: #fff;
        border-width: 8px; }
      .user-entrance .ng-messages .danger:before {
        border-top-color: #f66;
        border-width: 11px; }
  .user-entrance .ng-messages.ng-active {
    top: -37px;
    opacity: 1; }
  .user-entrance .ng-messages.ng-inactive {
    top: -45px;
    opacity: 0; }
  .user-entrance .box {
    background: #fff;
    padding: 20px;
    border: 4px #ddd solid;
    border-radius: 15px; }

.video-list {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .video-list::after {
    clear: both;
    content: "";
    display: table; }
  .video-list .item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    position: relative;
    height: 127px;
    overflow-y: hidden;
    padding: 0 3px;
    margin-right: 0;
    margin-bottom: 18px; }
    .video-list .item:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      .video-list .item {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%;
        height: auto; }
        .video-list .item:last-child {
          margin-right: 0; } }
    .video-list .item a {
      display: block; }
      .video-list .item a:hover {
        background: #f5f5f5; }
    .video-list .item .image img {
      width: 180%; }
    .video-list .item .data {
      font-size: 12px;
      line-height: 140%;
      font-weight: bold; }
    .video-list .item .playlist {
      position: fixed;
      top: -10000px; }
    .video-list .item .playlist.isPlaylist {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.8);
      color: #222;
      font-weight: bold;
      border: 2px #222 solid;
      padding: 1px 2px;
      margin: 0 0 0 3px; }

.video-list-menu {
  text-align: center;
  padding: 12px 0 22px; }
  .video-list-menu .active {
    color: #333; }

.video-search-bar form {
  position: relative; }
  .video-search-bar form .bar {
    padding-left: 30px; }
.video-search-bar .icon-search {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  color: #aaa;
  padding: 9px 0 7px 9px; }

/*# sourceMappingURL=style.css.map */
