<div class="user-entrance">
	<form ng-submit="self.signin()">
		<div class="box margin-bottom30">
			<!-- ( A-z || _ ) &amp;&amp; &lt;= 20 -->
			<input type="text" ng-model="self.id" placeholder="Your ID (No Password)" required>
			<div class="padding-top10 text-center">
				<div class="btn primary large">
					<button type="submit">Sign in<i class="fa fa-angle-right right"></i></button>
				</div>
			</div>
		</div>
		<hr>
		<div class="text-center">
			<div class="btn default large">
				<a href="" ng-click="self.signinByGuest()">Sign in by guest<i class="fa fa-angle-right right"></i></a>
			</div>
		</div>
	</form>
</div>