<component-header set="page.componentHeader"></component-header>

<div class="main page-user">
	<player-opener-menu set="page.playerOpenerMenu"></player-opener-menu>
	<video-search-bar set="page.videoSearchBar"></video-search-bar>
	<div class="video-list-menu">
		<a ng-class="{active : page.list.search}" ng-click="page.switchList('search')" href="">Search</a> | <a ng-class="{active : page.list.history}" ng-click="page.switchList('history')" href="">History</a> | <a ng-class="{active : page.list.favorite}" ng-click="page.switchList('favorite')" href="">Favorite</a>
	</div>
	<div ng-if="page.list.search">
		<video-list set="page.videoSearchList"></video-list>
	</div>
	<div ng-if="page.list.history">
		<video-list set="page.videoHistoryList"></video-list>
	</div>
	<div ng-if="page.list.favorite">
		<div class="text-center">coming soon</div>
	</div>
</div>

<component-footer set="page.componentFooter"></component-footer>