<div class="yt-player yt-player-16by9">
	<youtube-video class="yt-player-item" player="self.data.youtube" video-id="self.data.videoId" player-vars="self.data.setting"></youtube-video>
</div>
<div class="player-control text-center">
	<div class="switch loop">
		<div ng-if="self.data.setting.loop == 1" ng-click="self.updateSetting('loop', 0)"><i class="mi material-icons">loop</i>on</div>
		<div ng-if="self.data.setting.loop == 0" ng-click="self.updateSetting('loop', 1)"><i class="mi material-icons">loop</i>off</div>
	</div>
	<hr>
	<div class="switch playing">
		<div ng-if="!self.data.playing" ng-click="self.data.youtube.playVideo()"><i class="mi material-icons">play_arrow</i></div>
		<div ng-if="self.data.playing" ng-click="self.data.youtube.pauseVideo()"><i class="mi material-icons">pause</i></div>
	</div>
</div>